* {
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
}
ol li,ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: currentColor;
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

body {
    background: #ececec;
}
.container {
    width: 1000px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    display: flex;
}
aside {
    display: flex;
    padding-top: 50px;
    background: #f7f7f7;
    flex-direction: column;
}
aside .photo {
    width: 122px;
    height: 122px;
    border: 5px solid #ff7378;
    border-radius: 50%;
    margin: 0 auto;
}
aside .photo img{
    width: 100%;
    border-radius: 50%;
}
aside .basic-info{
    padding: 30px;
} 
aside .basic-info h3 {
    color:  #ff7378;
    margin-bottom: 12px;
}
aside .basic-info ol li{
    padding: 6px 0;
}
aside .basic-info ol li svg{
    fill: #ff7378;
}
aside .skills {
    background: #ff7378; 
    color: #fff;
    padding-bottom: 22px;
}
aside .skills h3 {
    color: #fff;
    margin: 10px 0px 12px 30px;
}
aside .skills dl {
    padding: 0 30px;
}
aside .skills dl dt{
    margin-top: 15px;
} 
aside .skills dl dd{
    width: 100%; 
    height: 5px;
    background: #fbaeae;
    border-radius: 2px;
    margin-top: 8px;
}
aside .skills dl dd span{
    display: block;
    height: 5px;
    border-radius: 2px;
    background: #fff;
}
aside .link {
    padding: 30px;
}
aside .link h3{
    color: #ff7378;
    margin-bottom: 16px;
}
aside .link ol li{
    margin: 8px 0;
}
aside .link ol li svg {
    fill: #ff7378;
}
aside .link ol li svg{
    width: 1.1em;
    height: 1.1em;
}
aside .link ol li a{
    padding-left: 8px;
    color: #333;
    text-decoration: none;
}
main {
    padding-top: 50px;
    padding-bottom: 50px;
}
main  .intro {
    color: #ff7378;
    padding-bottom: 30px;
    margin-left: 20px;
    position: relative;
}
main  .intro a{
    position: absolute;
    right: 240px;
    bottom: 30px;
    font-size: 18px;
}
main  .intro h1{
    font-size: 30px;
    margin-bottom: 12px;
}
main  .intro span{
    font-size: 16px;
    font-weight: bold;
}
main .section .section-title {
    background: #ff7378cf;
    display: inline-block;
    color: #fff;
    padding: 5px 46px;
    position: relative;
    border-radius: 2px;
    margin-left: 16px;
}
main .section .section-title svg {
    top: calc(50% - 0.6em);
    position: absolute;
    left: 14px;
    width: 1.2em;
    height: 1.2em;
}
main .section .section-title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    border-right: 26px solid #e97175;
    border-bottom: 14px solid transparent;
}
main .section .work{
    margin-right: 32px;
}
main .section-content {
    padding: 10px 42px;
    margin-top: 10px;
}
main .section-content .brief {
    margin-bottom: 8px;
}
main .section-content .work-content {
    margin-bottom: 8px;
}
main .section-content h4 {
    color: #ff7378;
}
main .section-content .work-content p{
    padding-left: 15px;
    padding-top: 3px;
}
main .section-content .work-project h4{
    color: #ff7378;
}
main .section-content .work-project ul{
    padding-left: 15px;
    padding-top: 3px;
}
main .section-content .work-project ul li p{
    padding: 5px 15px;
}
main .section-content .work-project ul li h5{
    color: #f48a8ed1;
}
main .section-content .skills li p{
    padding-left: 15px; 
    padding-top: 3px;
    padding-bottom: 8px;
}
main .section-content .projects .project ul{
    padding-left: 15px;
    padding-top: 5px;
    width: 600px;
}
main .section-content .projects .project {
    margin-bottom: 8px;
}
main .section-content .projects span {
    color: #f4543f;
    font-weight: bold;
    font-size: 13px;
}
main .section-content .projects span.link {
    padding-right: 20px;
    margin-top: 4px;
    display: inline-block;
}